<h1>Hello, {{name}}!</h1>

<h2>Today's top headers in nyregion are...</h2>
<ol>
{% for item in my_list %}
    <h4><li>{{item}}</li></h4>
{% endfor %}
</ol>
<!-- <ul>
    <h4><a href="/user/<name>/home">Home</a></h4>
    <h4><a href="/user/<name>/opinion">Opinion</a></h4>
    <h4><a href="/user/<name>/world">World</a></h4>
    <h4><a href="/user/<name>/national">National</a></h4>
    <h4><a href="/user/<name>/politics">Politics</a></h4>
    <h4><a href="/user/<name>/upshot">Upshot</a></h4>
    <h4><a href="/user/<name>/nyregion">Nyregion</a></h4>
    <h4><a href="/user/<name>/business">Business</a></h4>
    <h4><a href="/user/<name>/technology">Technology</a></h4>
    <h4><a href="/user/<name>/science">Science</a></h4>
    <h4><a href="/user/<name>/health">Health</a></h4>
    <h4><a href="/user/<name>/sports">Sports</a></h4>
    <h4><a href="/user/<name>/arts">Arts</a></h4>
    <h4><a href="/user/<name>/books">Books</a></h4>
    <h4><a href="/user/<name>/movies">Movies</a></h4>
    <h4><a href="/user/<name>/theater">Theater</a></h4>
    <h4><a href="/user/<name>/sundayreview">Sundayreview</a></h4>
    <h4><a href="/user/<name>/fashion">Fashion</a></h4>
    <h4><a href="/user/<name>/travel">Travel</a></h4>
    <h4><a href="/user/<name>/magazine">Magazine</a></h4>
    <h4><a href="/user/<name>/realestate">Realestate</a></h4>
    <h4><a href="/user/<name>/automobiles">Automobiles</a></h4>
    <h4><a href="/user/<name>/obituaries">Obituaries</a></h4>
    <h4><a href="/user/<name>/insider">Insider</a></h4>
</ul> -->